* {
  margin: 5px;
}
/* RandomJokes Component CSS Start */
.jokesComponent {
  background-color: green;
  text-align: center;
  box-sizing: border-box;
  padding: 25px;
  height: 300px;
  margin: auto;
  border-radius: 10px;
}
.jokesHeading {
  color: white;
  padding-top: 50px;
}
.jokesButton {
  background-color: rgb(82, 146, 82);
  color: white;
  border-style: none;
  border-radius: 6px;
}
.jokesButton:hover {
  background-color: white;
  color: black;
  cursor: pointer;
}
.jokesContent {
  color : white;
  font-size: 15px;
  padding-top: 7px;
  font-style: italic;

}
/* ----------RandomJokes Component CSS End----------- */

/* ----------StrongPassword Component CSS Start------ */
.passwordComp {
  padding: 25px 0px;
  display: flex;
  flex-direction: column;
  margin: auto;
}
.passwordForm {
  letter-spacing: 1.5px;
  text-align: justify;
  margin: auto;
}
.passwordHeading {
  font-weight: bold;
  text-align: center;
}
.passwordStatus {
  color: red;
  font-size: x-small;
  margin: auto;
  
}
/* ----------StrongPassword Component CSS End-------- */


/* ----------CreditCardValidation Component CSS Start------ */
.cardComp {
  padding: 25px 0px;
  text-align: center;
}
.cardHeading {
 letter-spacing: 1.5px;
}
.cardStatus {
  color: red;
  font-size: x-small;
  
}
/* ----------CreditCardValidation Component CSS End-------- */

/* ----------Date & Time Component CSS Start-------- */
.timeComp {
  text-align: center;
  padding: 5px;
  background-color: darkgray;
  color: darkslategray;
}
.timeHeading {
font-style: italic;
}
.timeDisplay {
font-weight: bold;
font-size: small;
}
/* ----------Date & Time Component CSS End-------- */

/* ----------Flip Coin Component CSS End-------- */
.flipComp {
  background-color: antiquewhite;
  text-align: center;
  box-sizing: border-box;
  padding: 25px;
  height: 250px;
  margin: auto;
}
.flipButton {
    background-color: rgb(82, 146, 82);
    color: white;
    font-style: italic;
    border-style: none;
    border-radius: 6px;
    padding: 5px;
    display: block;
    margin: auto;
  }
  .flipButton:hover {
    background-color: white;
    color: black;
    cursor: pointer;  
}
.flipContentText {
  font-weight: normal;
}
.flipImgText {
  height: 75px;
  width: 80px;
}
/* ----------Flip Coin Component CSS End-------- */

/* ----------FormDetails Component CSS Start-------- */
.bold {
  font-weight: bold;
  display: block;
}
.input, .resumeBox {
  min-width: 85%;
  padding: 5px;

}
.genderData {
  display: flex;
  font-weight: bold;
  justify-content: space-evenly;
}
.formDetails {
  margin: auto;
  padding: 10px 0px;
}
.formHeading{
  text-align: center;
  color: green;
  font-style: italic;

}
.formData {
box-sizing: border-box;
padding: 10px;
border: 1px solid black;
border-radius: 7px;
box-shadow: 5px 5px 25px gray;
width: 60%;
margin: 20px 0px;
margin-left: 10% !important;

}
.resumeBox {
  border: 1px solid gray;

}
.resume{
  font-weight: bold;
}
.formButton {
  color: white;
  border-radius: 7px;
  background-color: green;
  padding: 10px;
  border-style: none;
  min-width: 125px;
}
.buttonWrap {
  text-align: center;
}
/* ----------FormDetails Component CSS End-------- */

.diceOneImg{
  border-radius: 5px;
}
.allDices, .diceOneImg {
  width: 50px; 
  display: flex;
}
.allDices {
  text-align: center;
}
.imagedice {
  text-align: center;
  display: inline-block;
}
.diceButton {
  background-color: black;
  color: white;
  min-width: 10%;
  padding: 15px;
  border-style: none;
  border-radius: 10px;
  position: relative;
  top: 60px;
  right: 35px;
  margin: auto;
}
.diceComponent {
  padding: 20px;
  text-align: center;
  height: 200px;
  background-color: lavenderblush;
}
.diceHead {
  color: rgb(112, 67, 235);
  font-style: italic;
}